@page "/denuncia"

<div class="container">
    <h1 class="tituloSeccion mb-4 p-4">¿Cómo denunciar?</h1>

    <div class="accordion mb-5" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <b>¿Qué hacer ante un caso de Grooming?</b>
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="jumbotron">

                        <p class="lead">Si tu hijo/a fue víctima de Grooming</p>
                        <hr class="my-4">
                        <p>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <ul>
                                        <li>Realice una contención y comprensión del menor.</li>
                                        <li>Que entienda que él o ella es la víctima, y no es su culpa.</li>
                                        <li>Resguarde la evidencia digital.</li>
                                        <li>No borre la información o las conversaciones.</li>
                                        <li>No reenvíe chats, mensajes, imágenes o vídeos recibidos o enviados.</li>
                                        <li>No denuncie en la red social o aplicación la cuenta del acosador hasta haber realizado la denuncia.</li>
                                        <li>No bloquee la cuenta.</li>
                                        <li>No amenace o increpe al acosador.</li>
                                        <li>No se haga pasar por el menor.</li>
                                        <li>Haga capturas.</li>
                                        <li>Denuncie inmediatamente.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <img src="img/como_denunciar.png" width="100%" />
                                </div>
                            </div>



                        </p>




                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <b>Denunciá</b>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="jumbotron">
                        <p>
                            <ul>
                                <li><b>Llamando al 102 (Provincia de Buenos Aires), 137 o al 0800 222 1717</b></li>
                                <li>En el Ministerio Público Fiscal (CABA) al equipo Especializado en Delitos Informáticos: <br>Teléfono: <b>0800-333-472225 (FISCAL)</b>, Mail: <b>denuncia@fiscales.gov.ar</b></li>
                                <li>
                                    En cualquier parte del país en la <b>comisaria más cercana</b> le indicarán donde debe acercarse para realizar la denuncia en cualquier parte del país.
                                </li>
                            </ul>
                        </p>
                        <h4 id="ley26904" class="text-center">
                            - Al realizar la denuncia mencioná que es en el marco de la ley 26.904 -
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading3">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Asesoramiento" aria-expanded="false" aria-controls="collapseTwo">
                        <b>Si necesitás asesoramiento podés contactarnos</b>
                    </button>
                </h2>
            </div>
            <div id="Asesoramiento" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="jumbotron">

                        <div class="row">
                            <div class="col-md-6">
                                <b>Instituto de Políticas Públicas de Prevención de Grooming </b>
                                <br>
                                (0221-427-1001 int. 1147/1528)<br>
                                grooming@hcdiputados-ba.gov.ar
                            </div>

                            <div class="col-md-6">
                                <b>ONG Mamá en Línea</b>
                                <br>
                                (11-6463-5425) <br>
                                mamaenlinea@gmail.com
                                www.instagram.com/mama_en_linea
                                https://twitter.com/mama_en_linea?lang=es
                                www.facebook.com/PorLaLeyDeGrooming
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


    @code {

    }
