@page "/denuncia"

    <div class="container">
        <h1 class="tituloSeccion mb-4 p-4">¿Cómo Denunciar?</h1>
        <div class="jumbotron">
            <h3>¿Qué hacer ante un caso de Grooming?</h3>
            <p class="lead">Si tu hijo/a fue víctima de Grooming</p>
            <hr class="my-4">
            <p>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <ul>
                            <li>Realiza una contención y comprensión del menor.</li>
                            <li>Que entienda que él o ella es la víctima, y no es su culpa.</li>
                            <li>Resguardo de evidencia digital.</li>
                            <li>No borre la información o las conversaciones.</li>
                            <li>No reenvie chats, mensajes, imágenes o vídeos recibidos o enviados.</li>
                            <li>No denuncie en la red social o aplicación la cuenta del acosador hasta haber realizado la denuncia.</li>
                            <li>No bloquee la cuenta.</li>
                            <li>No amenace o increpe al acosador.</li>
                            <li>No se haga pasar por el menor.</li>
                            <li>Haga capturas.</li>
                            <li>Denuncie inmediatamente.</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img src="img/como_denunciar.png" style="width:100%" />
                    </div>
                </div>



            </p>
            <h3 class="mb-4">Denunciá</h3>

            <hr class="my-4">
            <p>
                <ul>
                    <li><b>Llamando al 102</b> (Provincia de Buenos Aires), <b>137 o al 0800 222 1717</b></li>
                    <li>En el Ministerio Público Fiscal (CABA) al equipo Especializado en Delitos Informáticos: <br>Teléfono: <b>0800-333-472225 (FISCAL)</b>, Mail: <b>denuncia@fiscales.gov.ar</b></li>
                    <li>
                        En cualquier parte del país en la <b>comisaria más cercana</b> le indicarán donde debe acercarse para realizar la denuncia en cualquier parte del país.
                    </li>
                </ul>
            </p>
            <h3 id="ley26904" class="text-center">
                - Al realizar la denuncia mencioná que es en el marco de la ley 26.904 -
            </h3>

            <h3 class="mt-5 mb-4">Si necesitas asesoramiento podes contactarnos</h3>


            <div class="row">
                <div class="col-md-6">
                    <b>Instituto de Políticas Públicas de Prevención de Grooming </b>
                    <br>
                    (0221-427-1001 int. 1147/1528)<br>
                    grooming@hcdiputados-ba.gov.ar
                </div>

                <div class="col-md-6">
                    <b>ONG Mamá en Línea</b>
                    <br>
                    (11-6463-5425) <br>
                    mamaenlinea@gmail.com
                    www.instagram.com/mama_en_linea
                    https://twitter.com/mama_en_linea?lang=es
                    www.facebook.com/PorLaLeyDeGrooming
                </div>
            </div>



        </div>


    </div>


    @code {

    }
