@page "/ayuda"

<div class="content" id="contieneSlide">
    <!--!-->
    <!--!--><!--!-->
    <div class="containter-fluid">
        <div class="row">
            <div class="col mt-5">
                <h4 class="text-center align-middle mt-5 mb-5">Sección en construcción</h4>
            </div>
        </div>
    </div>
</div>
@code {
    
}
