@page "/guias-digitales"
<h3 class="text-center">Guias</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-lg-4" style="padding-bottom:5px">
            <div class="card">
                <img src="img/example.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h3 class="card-text text-center">Adultos</h3>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-4" style="padding-bottom:5px">
            <div class="card">
                <img src="img/example.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h3 class="card-text text-center">Adolescentes</h3>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
