@page "/"

    <div id="contieneSlide" class="container">
        <!--!-->
        <!--!--><!--!-->
        <div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/slide1.png" class="d-md-none d-none d-sm-none d-lg-block d-xl-block w-100" alt="...">
                        <img src="img/slide1m.png" class="d-md-block d-sm-block d-lg-none d-xl-none w-100" alt="...">
                        <div class="carousel-caption ">
                            <h5>#NoAlGrooming</h5>
                            <p>EL GROOMING ES REAL</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/slide1.png" class="d-md-none d-none d-sm-none d-lg-block d-xl-block w-100" alt="...">
                        <img src="img/slide1m.png" class="d-md-block d-sm-block d-lg-none d-xl-none w-100" alt="...">
                        <div class="carousel-caption">
                            <h5>#NoAlGrooming</h5>
                            <p>EL GROOMING LE SUCEDE A 3 DE CADA 5 MENORES EN ARGENTINA</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="img/slide1.png" class="d-md-none d-none d-sm-none d-lg-block d-xl-block w-100" alt="...">
                        <img src="img/slide1m.png" class="d-md-block d-sm-block d-lg-none d-xl-none w-100" alt="...">
                        <div class="carousel-caption">
                            <h5>#NoAlGrooming</h5>
                            <p>ES NECESARIO DENUNCIAR LOS CASOS DE GROOMING</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">


            <!-- circulos -->
            <div class="row text-center mt-4">
                <div class="col-lg-4">
                    <p style="background-color: #e3e3e3" class="rounded">
                        <img src="img/robot.png" class="rounded" width="140" height="140" />
                    </p>

                    <h3>¿Necesitás Ayuda?</h3>
                    <p>Disponible 24 horas del día, los 365 días del año para consultar todo lo necesario sobre Grooming</p>
                    <p><a class="btn btn-secondary" href="ayuda" role="button">+ Info »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <p style="background-color: #e3e3e3" class="rounded">
                        <img src="img/denunciar.png" class="rounded" width="140" height="140" />
                    </p>
                    <h3>¿Cómo Denunciar?</h3>
                    <p>Información sobre como preservar las pruebas de Grooming, y cómo proceder para realizar la denuncia</p>
                    <p><a class="btn btn-secondary" href="denuncia" role="button">+ Info »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <p style="background-color: #e3e3e3" class="rounded"><img src="img/guias.png" class="rounded" width="140" height="140" /></p>
                    <h3>Guías Digitales</h3>
                    <p>Ofrecemos múltiples guías descargables, sobre configuración de privacidad en redes sociales, en el navegador, y muchas más...</p>
                    <p><a class="btn btn-secondary" href="guias_digitales" role="button">+ Info »</a></p>
                </div><!-- /.col-lg-4 -->
            </div>

            <!--fin circulos -->
            <!-- comienzan tarjetas-->
            <div class="row mb-2 mt-4" id="noticias">
                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-secondary">#NoAlGrooming</strong>
                            <h3 class="mb-0">¿Qué es Grooming?</h3>
                            <div class="mb-1 text-muted">12 Oct 2020</div>
                            <p class="card-text mb-auto">Es una serie de conductas y acciones emprendidas por un adulto, a través de Internet...</p>
                            <a href="detalle_noticia.html" class="stretched-link">Leer más</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="img/neneacceso.png" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-secondary">#MamaEnLinea</strong>
                            <h3 class="mb-0">¿Quiénes Somos?</h3>
                            <div class="mb-1 text-muted">22 Sep 2020</div>
                            <p class="card-text mb-auto">Mama en Linea surgió de la lucha de dos mamas que sus hijas fueron víctimas de Grooming.</p>
                            <a href="detalle_noticia.html" class="stretched-link">Leer más</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">

                            <img src="img/mamalineaacceso.png" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
       


   </div>



