@page "/nosotros"

<div class="content" id="contieneSlide">
    <!--!-->
    <!--!--><!--!-->
    <div class="container">
        <h1 class="tituloSeccion mb-4 p-4">Conocenos</h1>
        <div class="jumbotron">
            <h3>¿Quiénes somos?</h3>
            <hr class="my-4">
            <p>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        Buscamos, a través de diversas instituciones, llegar a la mayor cantidad de personas, con el fin de <b>concientizar sobre el delito de Grooming</b>,que crece a la velocidad que lo hace Internet, redes sociales, aplicaciones y videojuegos.<br><br>

                        La lucha no fue fácil pero tampoco imposible, cuando <b>en 2013 conseguimos que se sancione la ley 26.904</b> entendimos que con una ley sola no alcanza para enfrentar al delito, es necesaria la participación  ciudadana y por eso nos pusimos en acción para
                        <b>Mama en Linea</b> surgió en 2009 a partir de la lucha de dos mamás que sus hijas fueron víctimas de Grooming y ante el vacío legal, <b>Roxana Domínguez</b> de buenos aires y <b>Rosa Castro</b> de Cipolletti, Río Negro decidieron convertir el dolor en acción y la acción en lucha, para tipificar el delito en el código penal argentino, y pedir políticas públicas de prevención para alertar a la sociedad los riesgos a los que están expuestos nuestros hij@s en Internet.<br><br>
                        En el año 2013 se logra la sanción de la ley pero no la campaña de prevención.

                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img src="img/logoMamaQS.png" style="width:100%" />
                    </div>
                </div>
            </p>
            <p>
                La ONG está formada por mamás y víctimas del delito de grooming y un equipo de multidisciplinario de profesionales que tiene como objetivo brindar charlas de prevención y capacitación destinadas a niñas, niños, adolescentes, padres, familiares, docentes, funcionarios públicos y adultos responsables con la finalidad de informar acerca de este nuevo delito, cómo prevenirlo y alertar sobre los riesgos que pueden enfrentar los menores de edad en Internet, redes sociales,
                aplicaciones, juegos en línea y en diversas plataformas digitales. <br><br>
                Y la principal herramienta para combatir este tipo de acoso es la educación.
            </p>
            <h3 class="mt-5">Nuestra Misión</h3>
            <hr class="my-4">
            <p>
                Buscamos, a través de diversas instituciones, llegar a la mayor cantidad de personas, con el fin de concientizar sobre el delito de Grooming, que crece a la velocidad que lo hace Internet, redes sociales, aplicaciones y videojuegos.<br><br>
                La lucha no fue fácil pero tampoco imposible, cuando en 2013 conseguimos que se sancione la ley 26.904 entendimos que con una ley sola no alcanza para enfrentar al delito, es necesaria la participación  ciudadana y por eso nos pusimos en acción para llevar adelante esta Campaña Nacional Permanente de Concientizacion y Prevención del Grooming en Argentina.

                Vos también podes ser parte, y hacer la diferencia.
                <div class="row">
                    <div class="col-lg-6 col-sm-12 mb-4">
                        <img src="img/qs11.png" class="rounded" style="width:100%" />
                    </div>
                    <div class="col-lg-6 col-sm-12 mb-4">
                        <img src="img/qs33.png" class="rounded" style="width:100%" />
                    </div>
                </div>
            </p>
        </div>


    </div>

</div>


@code {

}
