@page "/noticias"


<div class="container" id="noticias">
    <h1 class="tituloSeccion p-4">Noticias</h1>
    <div class="row mb-2 mt-4">
        <div class="col-md-6 col-sm-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-secondary">#NoAlGrooming</strong>
                    <h3 class="mb-0">¿Qué es Grooming?</h3>
                    <div class="mb-1 text-muted">12 Oct 2020</div>
                    <p class="card-text mb-auto">Es una serie de conductas y acciones emprendidas por un adulto, a través de Internet...</p>
                    <a href="detalle_noticia.html" class="stretched-link">Leer más</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="img/neneacceso.png" />
                </div>
            </div>
        </div>
        <div class="col-md-6  col-sm-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-secondary">#MamaEnLinea</strong>
                    <h3 class="mb-0">¿Quiénes Somos?</h3>
                    <div class="mb-1 text-muted">22 Sep 2020</div>
                    <p class="card-text mb-auto ">Mama en Linea surgió de la lucha de dos mamas que sus hijas fueron víctimas de Grooming.</p>
                    <a href="detalle_noticia.html" class="stretched-link">Leer más</a>
                </div>
                <div class="col-auto d-none d-lg-block">

                    <img src="img/mamalineaacceso.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2 mt-4">

        <div class="col-md-6  col-sm-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-secondary">#MamaEnLinea</strong>
                    <h3 class="mb-0">¿Quiénes Somos?</h3>
                    <div class="mb-1 text-muted">22 Sep 2020</div>
                    <p class="card-text mb-auto ">Mama en Linea surgió de la lucha de dos mamas que sus hijas fueron víctimas de Grooming.</p>
                    <a href="detalle_noticia.html" class="stretched-link">Leer más</a>
                </div>
                <div class="col-auto d-none d-lg-block">

                    <img src="img/mamalineaacceso.png" />
                </div>
            </div>
        </div>
        <div class="col-md-6  col-sm-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-secondary">#NoAlGrooming</strong>
                    <h3 class="mb-0">¿Qué es Grooming?</h3>
                    <div class="mb-1 text-muted">12 Oct 2020</div>
                    <p class="card-text mb-auto">Es una serie de conductas y acciones emprendidas por un adulto, a través de Internet...</p>
                    <a href="detalle_noticia.html" class="stretched-link">Leer más</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="img/neneacceso.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2 mt-4">
        <div class="col-md-6  col-sm-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-secondary">#NoAlGrooming</strong>
                    <h3 class="mb-0">¿Qué es Grooming?</h3>
                    <div class="mb-1 text-muted">12 Oct 2020</div>
                    <p class="card-text mb-auto">Es una serie de conductas y acciones emprendidas por un adulto, a través de Internet...</p>
                    <a href="detalle_noticia.html" class="stretched-link">Leer más</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="img/neneacceso.png" />
                </div>
            </div>
        </div>
        <div class="col-md-6  col-sm-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-secondary">#MamaEnLinea</strong>
                    <h3 class="mb-0">¿Quiénes Somos?</h3>
                    <div class="mb-1 text-muted">22 Sep 2020</div>
                    <p class="card-text mb-auto ">Mama en Linea surgió de la lucha de dos mamas que sus hijas fueron víctimas de Grooming.</p>
                    <a href="detalle_noticia.html" class="stretched-link">Leer más</a>
                </div>
                <div class="col-auto d-none d-lg-block">

                    <img src="img/mamalineaacceso.png" />
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    1
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
    </nav>
</div>


@code {

}
