<div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 264px);">
    <div class="spinner-grow text-dark" role="status">
        <span class="sr-only">Cargando, espere por favor...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Cargando, espere por favor...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Cargando, espere por favor...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
        <span class="sr-only">Cargando, espere por favor...</span>
    </div>
</div>

@code {

}
