@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main" id="inicio">
    <div class="top-row px-4">

    </div>
    <div class="content" id="contieneSlide">
        @Body
    </div>
    <div class="container-fluid">
        <footer class="row text-center" id="footer">
            <div class="col-md-6 col-sm-12 p-3  text-center">
                <div class="row">

                    <div class="col-md-4 col-sm-12 mb-2 desarro">
                        <div class="row">
                            <div class="col desarro">Desarrollado por</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="https://ingenieria.unlam.edu.ar/" id="diit" target="_blank"><img src="img/logoDIIT.png" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 mb-2">

                        <div class="row">
                            <div class="col mt-3">
                                <a href="https://www.unlam.edu.ar/" id="unlam" target="_blank"><img src="img/logo_unlam2.png" /></a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </footer>
    </div>
</div>
