@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">

    </div>
    <div class="content" id="contieneSlide">
        @Body
    </div>
    <div class="container-fluid">
        <footer class="row text-center" id="footer">
            <div class="col p-3">Emma 2020</div>
        </footer>
    </div>
</div>
