@inject IJSRuntime JSRuntime;

<div class="top-row pl-4 navbar navbar-dark">
    <a id="alogo" class="alogo navbar-brand text-center"  href="/" ><img src="img/logo_emma_transparente.png"></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="que_es_grooming">
                <span class="fas fa-mask" aria-hidden="true" style="margin-right:13px"></span> ¿Qué es Grooming?
            </NavLink>
        </li>
        <li class="nav-item px-3" @onclick="AbrirBp">
            <NavLink class="nav-link" href="ayuda">
                <span class="oi oi-chat" id="show-bp" aria-hidden="true"></span> ¿Necesitás Ayuda?
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="guias_digitales">
                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Guías Digitales
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="noticias">
                <span class="oi oi-browser" aria-hidden="true"></span> Noticias
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="denuncia">
                <span class="oi oi-warning" aria-hidden="true"></span> ¿Cómo Denunciar?
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="nosotros">
                <span class="oi oi-people" aria-hidden="true"></span> Conocenos
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    async Task AbrirBp()
    {
        await JSRuntime.InvokeVoidAsync("openBp");
    }

    //@onclick="AbrirBp"
}
